body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* System Fonts with system-ui */
  margin: 0;
  height: auto; /* cao bằng chiều cao màn hình */
  width: auto;
  background: url("bg.jpg") repeat;
  background-size: 100% 100%; /* ép full cả chiều rộng + chiều cao */
  font-size: 30px;
}

a {
  text-decoration: none;
  background-color: rgb(221, 179, 233);
  border-radius: 999px;
  color: #000;
  width: 300px;
  text-align: center;
  padding: 20px 36px;
  display: inline-block;
  margin-top: 20px;
}

a:visited {
  color: #d4322c;
}

a:hover {
  color: aqua;
}

h2:target {
  color: blue;
}

p {
  background-color: rgba(128, 128, 128, 0.3);
}
